.product-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
}

.product-container > .Link{
  text-align: center;
  width: 300px;
  margin: 10px;
  text-decoration: none;
}

.product-container > .Link:hover{
  width: 350px;
  box-shadow: 0 0 10px #4d3e2f;
}

.black-text{
  color: black;
  text-decoration: none;
}


.product{
  text-align: center;
  width: 90%;
  height: 90vh;
  margin: 2px auto;

}

.Navbar{
  background-color: black;
  height: 10vh;
  text-align: center;
  padding: 2vh;
}

.Navbar>.Link{
  color: white;
  margin: 0 1vw;
  text-transform: uppercase;
}

.Navbar>.Link:hover{
  color: white;
  text-decoration: none;
  font-size: larger;
  font-weight: bolder;
  color: rgb(193, 193, 251);
}

.footer{
  background-color: black;
  color:white;
  text-align: center;
}